
@media screen and (min-width: 480px) {
    .container {
        max-width: 480px;
    }

    .hero-container {
        width: 100%;
    }

    .hero {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/Background\ overlay.\ );
    }

    /* @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/Background\ overlay.\ tablet-2x.png.png);
    }
} */

    .hero-title {
        width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
    }

    .button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
    }
}