:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primari-bg-color:  #FFFFFF;
    --cover-color:  #2F303A;
    --color-button: #F5F4FA;
    --section-color: #F5F5F5;
    --hero-button-color: #188CE8;
}

body {
    color: var(--primari-text-color);
    background-color: var(--primari-bg-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    
}

/* reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    /* max-width: 100%;
    height: auto;
    width: 100%; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* visually-hidden  */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*header*/

header {
    border-bottom: 1px Solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
}

.main-nav {
    display: flex;
}

/* Logo */

.header-logo {
    color: var(--accent-color);

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    font-family: Raleway, sans-serif;
    align-items: baseline;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.accent {
    color: var(--title-text-color);
}

.logo-footer {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}

.accent-footer {
    color: var(--primari-bg-color);
}

/* site nave */
.nav-link {
    position: relative;
    color: var(--title-text-color);
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.site-nave-list .current {
    color: var(--accent-color);
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: 
    #2196F3;
    opacity: 0;
}

.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
}

.site-nave-list {
    display: flex;
    align-items: center;
    
}

.item-nav:not(:last-child) {
    margin-right: 50px;
}

/* contacts*/
.link-mail,
.link-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primari-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
    fill: var(--primari-text-color);
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
    fill: var(--primari-text-color);
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail:hover,
.link-mail:focus {
    color: var(--accent-color);
}

.link-phone:hover,
.link-phone:focus {
    color: var(--accent-color);
}

.link-mail:hover .icon-mail,
.link-mail:focus .icon-mail { 
    fill: var(--accent-color);
}

.link-phone:hover .icon-phone,
.link-phone:focus .icon-phone {
    fill: var(--accent-color);
} 

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}

/* HERO */

.hero {
    background-color: var(--cover-color);
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/Background\ overlay.png);

    max-width: 1600px;
    height: 600px;

    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--primari-bg-color);

    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* button */

.button {
    background-color: var(--accent-color);
    color: var(--primari-bg-color);
    display: inline;

    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;

    padding: 10px 32px;
    border-radius: 4px;
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--hero-button-color)
}

.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.button-item {
    color: var(--title-text-color);
    background-color: var(--color-button);
    display: inline;

    border: 1px solid transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    padding: 6px 22px;
    border-radius: 4px;

    transition-property: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
    background-color: var(--accent-color);
    color: var(--primari-bg-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-button {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* stction */

.section {
    padding-top: 94px;  
}

.section-technology {
    padding-bottom: 94px;
}

.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* technology */

.technology-list {
    display: flex;
    gap: 30px;
}

.item-techno {
    flex-basis: calc(100% - 30px * 2 / 3);
    position: relative;

}

.overlay-box {
    position: absolute;
    bottom: 0;
    left: calc(50% - 185px);

    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.overlay-text {
font-weight: 700;
font-size: 14px;
line-height: 16px;

text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
    
/* feature */

.feature-list {
    display: flex;
}

.feature-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.feature-item:not(:last-child) {
    margin-right: 30px; 
}

.widgets-link {
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.widgets-icon {
    background-position: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
}

/* team */

.section-team {
    background-color: var(--color-button);
    padding-top: 94px;
    padding-bottom: 94px;
}

.workers {
    
    display: flex;
    gap: 30px;
}

.team-list {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.text-team {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    margin-bottom: 16px;
}

.item-team {
    background-color: var(--primari-bg-color);

    flex-basis: calc(100% - 30px * 3 / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    padding-bottom: 30px;
}

/* socials */

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    background-color: var(--primari-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #2196F3;
}

.socials-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
    fill: var(--primari-bg-color);
}


/* clients*/

.section-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-link {
    color: #AFB1B8;
    display: flex;

    width: 170px;
    height: 92px;
    
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
    color: #2196F3;
}

.clients-icon {
    fill: currentColor;
}

/* projects-portfolio*/

.projects-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-sitting {
    display: block;
    outline: transparent;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item {
    flex-basis: calc(100% -30px * 2/ 3); 
}

.projects-sitting:hover,
.projects-sitting:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-sitting:hover .overlay,
.projects-sitting:focus .overlay {
    transform: translate(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(101%);

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms ease-out;
}

.overlay-projects {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primari-bg-color);
    padding-left: 24px;
    padding-right: 24px;
}

.projects-wrapper {
    position: relative;
    overflow: hidden;
}

.item-wrapper {
    border: 1px Solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.projects-text{
    color: var(--primari-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* footer */

.general-footer {
    background-color: var(--cover-color);
    padding-bottom: 60px;
    padding-top: 60px;
}

.section-footer {
    display: flex;
    align-items: baseline;
}

address {
    margin-top: 20px;  
}

.address-footer {
    margin-right: 70px;
}

.link-address {
    color: var(--primari-bg-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:hover,
.link-address:focus {
color: var(--accent-color);
}

.item-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.item-footer:not(:last-child) {
    margin-bottom: 9px;
}

.list-cotacts .link {
    color: var(--primari-text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.list-cotacts .link:hover,
.list-cotacts .link:focus {
    color: var(--accent-color);
}

/* socials footer */

.section-socials {
    margin-right: 93px;
}

.socials-title {
    color: var(--primari-bg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

.socials-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
    background-color: #2196F3;
}

.socials-icon-footer {
    fill: var(--primari-bg-color)
}

.socials-link-footer:hover .socials-icon {
    fill: var(--primari-bg-color);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 530px;
    height: 580px;
    padding: 40px;

    border-radius: 4px;
    background-color: var(--primari-bg-color);
    transition: transform 250ms ease-out ;
}

.backdrop.is-hidden.modal {
    transform: translateX(-50%) translateY(-60%);
}

.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px; 

    width: 30px;
    height: 30px;
    padding: 0;
    
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primari-bg-color);
    cursor: pointer;
}

.close-btn-icon {
    width: 18px;
    height: 18px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    fill: var(--accent-color);
}

/* subscription*/

.text-subscription {
    color: var(--primari-bg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.from-field {
    display: flex;
}

.from-subscription .input {
    color: rgba(255, 255, 255, 0.3);
    width: 358px;
    height: 50px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
}

.subscription-btn {
    color: var(--primari-bg-color);
    background-color: var(--accent-color);
    display: flex;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: 1px solid transparent;
    border-radius: 4px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 28px;
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* modal form*/

.modal-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-form-label {
    margin-bottom: 10px;
}

.form-label-text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--primari-text-color);
    margin-bottom: 4px;
}

.form-group {
    display: block;
    position: relative;
}

.from-input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font: inherit;
    padding-left: 42px;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.from-input:focus {
    border-color: var(--accent-color);
}

.form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%); 

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.from-input:focus + .form-icon {
    fill: var(--accent-color);
}

.from-comment {
    resize: none;
    width: 448px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.from-comment:focus {
    border-color: var(--accent-color);
}

.modal-form-comment {
    margin-bottom: 20px;
}

.from-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.from-checkbox-icon {
    width: 16px;
    height: 15px;
}

.from-checkbox-icon .unchekted {
    opacity: 1;
}

.from-checkbox-icon .chekted {
    opacity: 0;
}

.from-checkbox:checked + .from-checkbox-icon .unchekted {
    opacity: 0;
}

.from-checkbox:checked + .from-checkbox-icon .chekted {
    opacity: 1;
}

.from-agreement-text {
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    
}

.from-agreement-link {
    color: var(--accent-color);
}

.form-btn {
    color: var(--primari-bg-color);
    background-color: var(--accent-color);

    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--hero-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}