:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primari-bg-color:  #FFFFFF;
    --cover-color:  #2F303A;
    --color-button: #F5F4FA;
    --section-color: #F5F5F5;
    --hero-button-color: #188CE8;
}

body {
    color: var(--primari-text-color);
    background-color: var(--primari-bg-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    
}

/* reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Logo */
.header-logo {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}
.header-logo {
    margin-right: 93px;
}

.accent{
    color: var(--title-text-color);
}
.logo-footer {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}
.accent-footer {
    color: var(--primari-bg-color);
}

/*address*/
address {
    padding-top: 20px;
}


.addres-color {
    background-color: var(--cover-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* none */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* site nave */
.site-nave .link {
    color: var(--title-text-color);
    display: block;
}
.site-nave .link:hover,
.site-nave .link:focus {
    color: var(--accent-color);
}
.site-nave .link.current {
    color: var(--accent-color);
}
.site-nave {
    display: flex;
    align-items: center;
}
.item-nav:not(:last-child) {
    margin-right: 50px;
}


/* contacts*/
.contacts .link {
    color: var(--primari-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}

/*header-container*/

header {
    border-bottom: 1px;
}
.header-container {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
}

.main-nav {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

/* HERO */
.hero {
    background-color: var(--cover-color);
    background-image: url(../images/Background\ overlay.png);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--primari-bg-color);
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-container {
    width: 696px;
}
/* stction */

.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.section {
    padding-top: 94px;
}
.title {
    margin-bottom: 10px;
}
.technology-list {
    display: flex;
    gap: 30px;
}
.item-techno{
flex-basis: calc(100% - 30px * 2 / 3);
}
.section-team {
    background-color: var(--color-button);
    padding-top: 94px;
    padding-bottom: 94px;
}
/* feature */

.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-list {
    display: flex;
}
.feature-list .item:not(:last-child) {
    margin-right: 30px; 
}


.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
}
.text-list {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

/* team */

.workers .team-list {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.workers {
    background-color: var(--primari-bg-color);
    display: flex;
    gap: 30px;
}
.item-team {
    flex-basis: calc(100% - 30px * 3 / 4);
}


/* button */

.button {
    background-color: var(--accent-color);
    color: var(--primari-bg-color);
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    display: inline;
}
.button:hover,
.button:focus {
    background-color: var(--hero-button-color)
}
.portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.button-list {
    color: var(--title-text-color);
    background-color: var(--color-button);
    border: 1px solid transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    display: inline;
}

.button-list:hover,
.button-list:focus {
    background-color: var(--accent-color);
    color: var(--primari-bg-color);
}
.section-button {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* projects-list */

.projects-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.projects-item {
    flex-basis: calc(100% -30px * 2/ 3);
}

.item-wrapper {
    border: 1px;
    border-top: none;
    padding: 20px 24px;
}

.text-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* footer */
.footer-cotacts .link {
    color: var(--primari-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-cotacts .link:hover,
.footer-cotacts .link:focus {
    color: var(--accent-color);
}

.footer-cotacts .link-addres {
    color: var(--primari-bg-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-cotacts .link-addres:hover,
.footer-cotacts .link-addres:focus {
color: var(--accent-color);
}
.item-footer:not(:last-child) {
    margin-bottom: 9px;
}

