
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/Background\ overlay.png);

        padding: 118px 204px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url(../images/Background\ overlay-2x.png);
            }
    }

    .header-container {
        justify-content: flex-start;
    }

    .header-logo {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 88px;
    }

    /* menu-mobile */

    .menu-mobile {
        display: none;
    }

    .menu-btn-mobile {
        display: none;
    }

    /* site-nave */

    .site-nave-list {
        display: flex;
        align-items: center; 
    }

    .site-nave-list .current {
        color: var(--accent-color);
    }

    .item-nav:not(:last-child) {
        margin-right: 50px;
    }

    .nav-link {
        position: relative;
        color: var(--title-text-color);
        display: block;
    
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link:hover,
    .nav-link:focus {
        color: var(--accent-color);
    }
    
    .nav-link::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: 
        #2196F3;
        opacity: 0;
    }
    
    .nav-link.current::after,
    .nav-link:hover::after,
    .nav-link:focus::after {
        opacity: 1;
    }

    /* contacts*/

    .contacts {
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: auto;
    }

    .item-mail {
        margin-bottom: 10px;
    }

    .link-mail,
    .link-phone {
        align-items: center;
        justify-content: center;
        color: var(--primari-text-color);

        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-mail {
        fill: var(--primari-text-color);
        margin-right: 8px;
        width: 14px;
        height: 10px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-phone {
        fill: var(--primari-text-color);
        margin-right: 8px;
        width: 10px;
        height: 14px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-mail:hover,
    .link-mail:focus {
        color: var(--accent-color);
    }

    .link-phone:hover,
    .link-phone:focus {
        color: var(--accent-color);
    }

    .link-mail:hover .icon-mail,
    .link-mail:focus .icon-mail { 
        fill: var(--accent-color);
    }

    .link-phone:hover .icon-phone,
    .link-phone:focus .icon-phone {
        fill: var(--accent-color);
    } 

    /* feature */

    .feature-item {
        width: calc((100% - 60px) / 2);
        width: 354px;
    }

    .feature-list .title {
        text-align: left; 
    }

    .widgets-icon {
        width: 354px;
    }

    /* team */

    .item-team {
        width: calc((100% - 60px) / 2);
        width: 354px;
    }

    .clients-item {
        width: calc((100% - 60px) / 3);
    }

    .modal {
        width: 450px;
        height: 609px;
    }

    .container-footer {
        display: flex;
        margin-bottom: 60px;
    }

    .address-footer {
        margin-bottom: 0;
        padding-left: 76px;
        margin-right: 165px;
    }

    .section-socials {
        margin-bottom: 0;
    }

    .from-subscription .input {
        width: 450px;
        margin-left: 166px;
    }
}