
.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border-color: #2196F3;
    color: #2196F3;
    }
}

.clients__icon {
    fill: currentColor;
}