
.header__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    align-items: baseline;

    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: var(--accent-color);
}

.accent__logo--black {
    color: var(--title-text-color);
}

.logo__footer {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
}
.accent__footer {
    color: var(--primari-bg-color);
}