
.section {
    padding-top: 94px;  
}

.section__button {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__technology {
    padding-bottom: 94px;
}

.section__team {
    background-color: var(--color-button);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__footer {
    display: flex;
    align-items: baseline;
}