
.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: var(--primari-bg-color);

    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #2196F3;
    }

    &:hover .socials__icon,
    &:focus .socials__icon {
    fill: var(--primari-bg-color);
    }
}

.socials__icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials__link--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #2196F3;
    }
}

.socials__footer--icon {
    fill: var(--primari-bg-color)
}

.socials__group {
    margin-right: 93px;
    margin-left: 70px;
}
