
body {
    color: var(--primari-text-color);
    background-color: var(--primari-bg-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    
}

header {
    border-bottom: 1px Solid #ECECEC;
}

address {
    margin-top: 20px;
}